{%- extends "page.html" -%}

{%- macro carousel_item(title, href, title_text, text, active="") -%}
<div class="carousel-item {{active}}">
  <a target="_blank" href="{{href}}" title="{{title}}">
    <div class="text-small">
      <ul type="square">
        <li class="text-dark"><small>{{ title.upper() }}</small></li>
      </ul>
    </div>
    <h3>{{ title_text }}</h3>
  </a>
  <p class="fs-5" style="color: #023d6b;">We are pleased to bring "Supercomputing in your browser".</p>
  <p class="fs-5"> {{ text }} <a target="_blank" href="{{href}}">Read more.</a> </p>
</div>
{%- endmacro -%}

{%- block script -%}
<script src='{{static_url("js/login.js", include_version=True) }}'></script>

<body>
  <script type="module" src="/src/Login.tsx"></script>
</body>

<script>
$("nav [id$=nav-item]").removeClass("active");
$("#start-nav-item, #collapse-start-nav-item").addClass("active");
</script>
{%- endblock -%}
